.content {
    text-align: center;
    padding: 5rem 0;
    color: var(--body-font-color);
}

.content > span {
    width: 40rem;
    max-width: 90vw;
    font-size: 6rem;
    font-weight: 900;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.26);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:634px) {
    .content > span {
        font-size: 3.4rem;
    }
}