<div class="card-body">
    <app-details-weather  icon="wind.png"
                          infoType="wind"
                          [info]="cityWeather!.weather.wind.speed + 'm/s'">
    </app-details-weather>

    <app-details-weather  icon="feels.png"
                          infoType="feels like"
                          [info]="getTemperature(cityWeather!.weather.feelsLike)">
    </app-details-weather>

    <app-details-weather  icon="humidity.png"
                          infoType="humidity"
                          [info]="cityWeather!.weather.humidity + '%'">
    </app-details-weather>

    <app-details-weather  *ngIf="moreInfo"
                          icon="sunrise.png"
                          infoType="sunrise"
                          [info]="unixToMinute(cityWeather!.weather.sunrise)">
    </app-details-weather>

    <app-details-weather  *ngIf="moreInfo"
                          icon="sunset.png"
                          infoType="sunset"
                          [info]="unixToMinute(cityWeather!.weather.sunset)">
    </app-details-weather>

    <app-details-weather  *ngIf="moreInfo && cityWeather!.weather.maxTemp"
                          icon="max.png"
                          infoType="maxTemp"
                          [info]="getTemperature(cityWeather!.weather.maxTemp)">
    </app-details-weather>

    <app-details-weather  *ngIf="moreInfo && cityWeather!.weather.minTemp"
                          icon="min.png"
                          infoType="minTemp"
                          [info]="getTemperature(cityWeather!.weather.minTemp)">
    </app-details-weather>

</div>
