<app-header title="favorites"
            controlName="value"
            [formGroup]="searchForm"
            (callback)="doSearch()">
</app-header>

 <app-empty-state  *ngIf="!(bookmarks$ | async)?.length"></app-empty-state>

<main class="content" >
    <div class="city-card"
         *ngFor="let bookmark of bookmarks$ | async"
         [routerLink]="['../details']"
         [queryParams]="{lat: bookmark.coord.lat, lon: bookmark.coord.lon}"
         [style]="'background-image: url(' + image(bookmark.country) + ');'">
        <span (click)="removeBookmark(bookmark.id)"
               class="material-icons-outlined">
            bookmark_remove
        </span>
        <h2>{{bookmark.name}} - {{bookmark.country}}</h2>    
    </div>
</main>