<app-header title="Welcome to Windful"
            controlName="value"
            [formGroup]="searchForm"
            (callback)="doSearch()">
</app-header>

<main class="center content">
    <div *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
        <app-current-weather [cityWeather]="cityWeather"
                             [isFavorite]="isFavorite$ | async"
                             [unit]="(unit$ | async)!"
                             (toggleBookmark)="onToggleBookmark()">
        </app-current-weather>
    </div>
    <app-error *ngIf="!(loading$ | async) && (error$ | async)"></app-error>
    <app-loader *ngIf="(loading$ | async)"></app-loader>
</main>