<div class="search-container center" [formGroup]="formGroup">
    <input [formControlName]="controlName"
           type="text" 
           class="search-input" 
           matInput
           *ngIf="autocomplete"
           (keydown.enter)="doSearch()"
           [matAutocomplete]="auto"
           placeholder="ex.: Rio de Janeiro">
    
    <input [formControlName]="controlName"
           type="text" 
           class="search-input" 
           *ngIf="!autocomplete"
           (keydown.enter)="doSearch()"
           placeholder="ex.: Rio de Janeiro">

    <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let option of searchedItem" [value]="option">
          {{option}}
        </mat-option>
    </mat-autocomplete>

    <button mat-raised-button (click)="doSearch()">
        <mat-icon>search</mat-icon>
    </button>

</div>
<mat-slide-toggle [checked]="autocomplete" (change)="toggleAutoComplete()">
    Autocomplete {{autocomplete? 'On' : 'Off'}}
</mat-slide-toggle>
