<div class="search-container center" [formGroup]="formGroup">
    <input [formControlName]="controlName"
           type="text" 
           class="search-input" 
           matInput
           (keydown.enter)="doSearch()"
           [matAutocomplete]="auto"
           placeholder="ex.: Rio de Janeiro">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of searchedItem" [value]="option">
          {{option}}
        </mat-option>
    </mat-autocomplete>

    <button mat-raised-button (click)="doSearch()">
        <mat-icon>search</mat-icon>
    </button>
</div>
