<footer class="center">
    <h4>About:</h4>
    <nav class="about-navbar center">
        <a href="https://github.com/fernanda-maia/weather-forecast">Source Code</a>
        <a href="https://github.com/fernanda-maia/weather-forecast/blob/main/README.md">Documentation</a>
        <a href="https://openweathermap.org/api">About Open Weather API</a>
    </nav>

    <h4>Contact:</h4>
    <nav class="contact-navbar">
        <a href="https://github.com/fernanda-maia">
            <img src="assets/images/icons/github.png" alt="Check my github">
        </a>
        <a href="https://www.instagram.com/nanda.maiafr/">
            <img src="assets/images/icons/instagram.png" alt="Keep in touch on instagram">
        </a>
        <a href="https://www.linkedin.com/in/fernanda-ribeiro-07882b49/">
            <img src="assets/images/icons/linkedin.png" alt="Let's talk on linkedin">
        </a>
    </nav>
    <p> <b>&copy; Copyright</b> - No rights reserveds</p>
</footer>
