<main class="center" 
      *ngIf="(loading$ | async) || (error$ | async)">

    <app-loader *ngIf="loading$ | async"></app-loader>
    <app-error *ngIf="error$ | async"></app-error>
</main>

<div class="container" *ngIf="!((loading$ | async) || (error$ | async))">
    <app-current-weather-details 
        [unit]="(unit$ | async)!"
        [current]="current"></app-current-weather-details>
    <div class="list-weather">
        <app-daily-weather-details *ngFor="let daily of (details$ | async)!.daily"
                                   [dailyWeather]="daily"
                                   [timeZone]="(details$ | async)?.city!.timeZone"
                                   [unit]="(unit$ | async)!">
            
        </app-daily-weather-details>
    </div>
</div>


