:root {
    --light-blue-color: #0059ff;
    --blue-hover-color: #0f3558;
    --background-color: #eeeeee;
    --font-family: 'Spartan', sans-serif;
    --main-font-color: #f6f3ee;
    --body-font-color: #060629;
    --card-shadow: 0px 0px 20px 1px #0000005c;
}
