<div [style]="'background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
             url('+ imageURL + ');
             background-attachment: fixed;
             background-size: cover; background-position: center;'" 
         class="current-weather">
    <span class="title">
        <h1>{{getTitle}} </h1>
        <h2>{{temperature}}</h2>
    </span> 
    <figure class="description">
        <img [src]="weatherIcon" alt="weather"/>
        <figcaption>{{this.current!.weather?.description ?? ''}}</figcaption>
    </figure>
    <app-weather-details-row [unit]="unit" [moreInfo]="true" [cityWeather]="current"></app-weather-details-row>
</div>