.weather-card {
    width: 26rem;
    height: 17rem;
    max-width: 90vw;
    border-radius: 0.3rem;
    -webkit-box-shadow: var(--card-shadow); 
    box-shadow: var(--card-shadow)
}

.card-header, .card-body {
    width: 100%;
}

.card-header {
    padding: 0.7rem;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-body {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--body-font-color);
    border-radius: 0 0 0.3rem 0.3rem;
    background-color: var(--background-color);
}

.actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions > .mat-icon {
    cursor: pointer;
    color: #ff0000;
}

.weather-temp {
    margin-top: 0.2rem;
    font-size: 3rem;
    font-weight: 200;
}

.header-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}