<div class="weather-card"
     [style]="'background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('+ image + ');
     background-size: cover; background-position: top;'">
    <div class="card-header">

        <div class="header-info">
            <span class="weather-temp">{{ temperature }}</span>
            <h3>{{ cityName }}</h3>
        </div>
        <div class="actions">
            <mat-icon (click)="onToggleBookmark()">
                {{isFavorite? "favorite" : "favorite_border"}}
            </mat-icon>
            <a [routerLink]="['../details']"
               [queryParams]="cityParams">
               <mat-icon >insights</mat-icon></a> 
        </div>
    </div>
    
    <app-weather-details-row [unit]="unit" [cityWeather]="cityWeather!"></app-weather-details-row>
</div>
